.main_container{
    /* margin-top: 300px; */
    padding-top: 300px;
    margin-left: 40%;
    
}


/* .container{
    background-color: #3724b3;
    color:#3724b3;
} */

.container{
    padding-top: 200px;
    
}

.demo23{
    background-color: #3724b3;
    color:#3724b3;
    height: 90px;
}

.copyw1 {
    padding: 30px;
    margin-top: 20px;
}

.hello1 {
    margin-top: 40px;
    margin-left: 50%;
}






